.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 55px;
  width: 82px;
  z-index: 200;
}

.sidebar-link {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(227, 227, 227);
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-size: 10px;
}
